<footer>
  <h2>Mantalon U̯ari·Celton</h2>
  <div class="footer-wrapper">
    <div class="footer-col">
      <ul>
        <li>Mantalon U̯ari·Celton</li>
        <li><a href="mailto:sapouidugnatoscingebeli@protonmail.com">sapouidugnatoscingebeli@protonmail.com</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li>
          <a href="https://github.com/sapouidugnatos">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/img/minima-social-icons.svg#github' | relative_url }}"></use></svg>
            sapouidugnatos
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/canabirix">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/img/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>
            canabirix
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img class="license" alt="Creative Commons License" style="border-width:0" src="{{ '/assets/img/by-nc-nd.png' | relative_url }}" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
      <p>Religious and Cultural customs of the Eastern Celts.</p>
    </div>
  </div>
</footer>
