<footer>
  <h2>Mantalon U̯ari·Celton</h2>
  <div class="footer-wrapper">
    <div class="footer-col">
      <ul>
        <li>Mantalon U̯ari·Celton</li>
        <li><a href="mailto:sapouidugnatoscingebeli@protonmail.com">sapouidugnatoscingebeli@protonmail.com</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li>
          <a href="https://github.com/sapouidugnatos">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/img/minima-social-icons.svg#github' | relative_url }}"></use></svg>
            sapouidugnatos
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/canabirix">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/img/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>
            canabirix
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <p>Religious and Cultural customs of the Eastern Celts.</p>
    </div>
  </div>
</footer>
