<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
<meta name="theme-color" content="#ED2939">
<meta name="description" content="Religious and Cultural customs of the Eastern Celts." />
<meta name="twitter:description" content="Religious and Cultural customs of the Eastern Celts.">
<meta property="og:description" content="Religious and Cultural customs of the Eastern Celts." />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@canabirix">
<meta name="twitter:creator" content="@canabirix">
<meta property="og:site_name" content="Mantalon U̯ari·Celton" />
<meta name="twitter:image" content="{{ '/assets/img/header-back.jpg' | relative_url }}">
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.uariceltoi.com" />
<meta property="og:image" content="{{ '/assets/img/header-back.jpg' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
<script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
