<div class="header" style="background-image: url({{ '/assets/img/header-back.jpg' | relative_url }});">
    <table id="wrapper">
        <tr>
            <td><img src="{{ 'assets/img/title.png' | relative_url }}"></td>
        </tr>
    </table>
</div>

<nav class="nav-header">
    <div class="nav-container">
        {% if page.url == "/index.html" or page.url == "/" %}
            <div class="active"><a href="{% link index.markdown %}">Home</a></div>
        {% else %}
            <div><a href="{{ site.baseurl }}/">Home</a></div>
        {% endif %}
        <div></div>
        <div></div>
    </div>

    <div class="method-nav">
        {% if page.category == "methodology" %}
            <div class="active spacer">Methodology</div>
        {% else %}
            <div class="spacer">Methodology</div>
        {% endif %}
        {% for article in site.articles %}
            {% if article.category == "methodology" %}
                <a href="{{ article.url | prepend:site.baseurl }}">{{ article.short-title }}</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="theo-nav">
        {% if page.category != "methodology" and page.title != "Home" %}
            <div class="active spacer">Theology</div>
        {% else %}
            <div class="spacer">Theology</div>
        {% endif %}
        <a class="bold">Deities</a>
        <a class="italic"><u>Norici</u></a>
        {% for article in site.articles %}
            {% if article.category == "deities" and article.tribe == "Norici" %}
                <a href="{{ article.url | prepend:site.baseurl }}">{{ article.title }}</a>
            {% endif %}
        {% endfor %}
        <a class="italic"><u>Scordisci</u></a>
        {% for article in site.articles %}
            {% if article.category == "deities" and article.tribe == "Scordisci" %}
                <a href="{{ article.url | prepend:site.baseurl }}">{{ article.title }}</a>
            {% endif %}
        {% endfor %}
        <!-- <a class="italic"><u>Bastarnae</u></a>
        {% for article in site.articles %}
            {% if article.category == "deities" and article.tribe == "Bastarnae" %}
                <a href="{{ article.url | prepend:site.baseurl }}">{{ article.title }}</a>
            {% endif %}
        {% endfor %} -->
        <a class="italic"><u>Cross-Regional</u></a>
        {% for article in site.articles %}
            {% if article.category == "deities" and article.tribe == "Cross-Regional" %}
                <a href="{{ article.url | prepend:site.baseurl }}">{{ article.title }}</a>
            {% endif %}
        {% endfor %}
        <a class="bold">Practice</a>
        {% for article in site.articles %}
            {% if article.category == "practice" %}
                <a href="{{ article.url | prepend:site.baseurl }}">{{ article.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
</nav>
